<h1>Article info:</h1>

<h2>Title: <%= @article.title %></h2>

<h2>Content: <%= @article.content %></h2>

<h2>Creation date: <%= @article.created_at %></h2>

<p><%= link_to "All articles", articles_path %></p>
